{% extends 'base.html.twig.html' %}

{% block title %} {{ cour.nom }} - Ecoit{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <img src="/uploads/{{ cour.illustration }}" alt="{{ cour.nom }}" class="img-fluid">
    </div>
    <div class="col-md-8">
        <h3>{{ cour.nom }}</h3>
        <p>{{ cour.subtitle }}</p>
        <hr>
        <p>
            {{ cour.description }}
        </p>
        <a href="" class="btn btn-success">Accéder au cours</a>
    </div>
</div>
    <hr>
    <h3>Nos meilleurs Cours</h3>
    <p>Découvrez les cours les plus consultés</p>

    <div class="row">
        {% for cour in cours %}
            <div class="col-md-4">
                {% include 'cours/simple_cour.html.twig' %}
            </div>
        {% endfor %}
    </div><!-- /.row -->


{% endblock %}
