<div class="col-md-4">
    <div class="cour-item text-center" >
        <a href="{{ path('app_cour', {'slug' :cour.slug }) }}"><img src="/uploads/{{ cour.illustration }} " alt="{{ cour.nom }}" class="img-fluid"></a>
        <h5>{{ cour.nom }}</h5>
        <span>{{ cour.subtitle }}</span>
    </div>
</div>